.btn {
  margin: 30px;
  border: 2px solid black;
  border-radius: 10px;
  height: 50px;
  width: 150px;
  font-size: larger;
  font-weight: bold;
  background-color: white;
}
.App {
  background-color: rgb(78, 96, 96);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.newİmage {
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  border: 5px solid black;
}
.imageDiv {
  margin: 5px;
  border: 5px solid lightgray;
  width: 350px;
  border-radius: 50px;
  padding-top: 50px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgİcon {
  position: relative;
  display: inline-block;
  margin: 10px;
}
.icon {
  position: absolute;
  transform: translate(-40%, -50%);
  font-size: 40px;
  bottom: -10px;
  left: -8px;
  padding: 1px;
  transition: transform 0.1s ease-in-out;
}

.iconClicked {
  transform: scale(1.4);
}
